{% extends "_layouts/base.html" %}

{% block title %}Relatorio Global{% endblock %}

{% load primeira_letra %}

{% block conteudo %}
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Relatorio Global </h5>

          {% if relatorios|length > 0 %}
            <p class="card-text">
              Aqui está a lista de <code>Relatorios</code> cadastrados.
            </p>

            <table class="table">
              <thead class="thead-dark">
              <tr>
                <!-- <th scope="col"></th> -->
                <th scope="col">Igreja</th>
                <th scope="col">Data</th>
                <th scope="col">Famila</th>
                <th scope="col">Membros</th>
                <th scope="col">Bairro</th>
                <th scope="col">Contacto</th>
                <th scope="col">Plataforma</th>
                <th scope="col">Reuniao</th>
                <!-- <th scope="col" class="text-center">Ações</th> -->
              </tr>
              </thead>
              <tbody>
              {% for relatorio in relatorios %}
                <tr>
                  <!-- <th scope="row">{{ relatorio.igreja|primeira_letra }}</th> -->
                  <td>{{ relatorio.igreja }}</td>
                  <td>{{ relatorio.data_reuniao|date:'d/m/Y' }}</td>
                  <td>{{ relatorio.familia }}</td>
                  <td>{{ relatorio.membros }}</td>
                  <td>{{ relatorio.bairro }}</td>
                  <td>{{ relatorio.contacto }}</td>
                  <td>{{ relatorio.plataforma }}</td>
                  <td>{{ relatorio.reuniao }}</td>
                  <!-- <td class="text-center">
                    <a href="#"
                       class="btn btn-primary">
                      Atualizar
                    </a>
                    <a href="#"
                      class="btn btn-danger">
                        Excluir
                    </a>
                  </td> -->
                </tr>
              {% endfor %}
              </tbody>
            </table>
        {% else %}
          <div class="text-center mt-5 mb-5 jumbotron">
            <h5>Nenhum <code>Relatorio</code> cadastrado ainda.</h5>
          </div>
        {% endif %}
          <hr />
          <div class="text-right">
            <a href="{% url 'core:criar_relatorio' %}" class="btn btn-primary">
              Cadastrar Relatorio
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}